@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #0F6E56;
  --offwhite: #f4f6f4;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-offwhite text-gray-900 antialiased;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
